ul,label{
	margin:0;
	padding:0;
}


/*--header--*/
.customheader.nav-center {
	padding-left : 30%;
}
.customheader.header {
    background-color: #1ab394;
    padding: 0;
	position: relative;
}
.customheader.header-nocolor{
    background-color: #fff;
    padding: 0;
	position: relative;
}
nav.navbar.navbar-default {
    background: none;
}
nav.navbar.navbar-default {
    background: none;
    border: none;
    margin: 0;
}
h1.navbar-brand {
    font-size: 3em;
    font-family: 'Marvel-Regular';
    padding: 0.5em 1em 0 0;
}
h1.navbar-brand a {
    color: #fff;
    padding: 0.2em 0;
}
nav.navbar.navbar-default {
    float: left;
    width: 82%;
}
/*--navigation--*/
.customheader.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.1em;
    padding: 23px 25px;
    
    display: block;
}
.customheader.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: #1AB378;
    color: #fff;
}
.customheader.nav > li > a.active{
     background: #1AB378;
}
.customheader.row {
    margin: 0;
}
.customheader.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #1AB378;
}
b.caret {
    margin-left: 10px;
    color: #FFF;
}
.customheader.dropdown-menu {
    top: 99%;
}
.customheader.dropdown-menu {
	min-width: 200px;
}
.customheader.dropdown-menu.columns-3 {
	min-width: 510px;
	padding: 2em 1em 3em;
}
.customheader.dropdown-menu.columns-4 {
	min-width: 260px;
	padding: 1em 1em 1em;
}
.multi-column-dropdown {
	list-style: none;
}
.customheader.row h4 {
    border-bottom: 1px solid #E6E3E3;
    font-size: 1.2em;
    color: #1AB378;
    line-height: 1.8em;
    text-transform: uppercase;
    margin-bottom: 7%;
}
.customheader.multi-column-dropdown li a {
    display: block;
    color: #999;
    line-height: 2.5em;
	font-size: 1em;
}
.customheader.multi-column-dropdown li a:hover {
    color: #1AB378;
}
@media (max-width: 767px) {
	.customheader.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}	
@media (max-width: 480px) {
	.customheader.content {
		width: 90%;
		margin: 50px auto;
		padding: 10px;
	}
}
/*--//navigation--*/
/*--//start menu--*/
.customheader.header-right{
    float: left;
    width: 6%;
    text-align: center;
    left: 140px;
    position: relative;
    
}
.customheader.header-right a{
	display:block;
}
.customheader.header-right span.glyphicon {
    font-size: 1.8em;
        padding: 0.83em 0;
    color: #fff;
}

/*--Login --*/
#loginContainer {
    position:relative;
}
#loginContainer a span{
  display:block;
}
/* Login Button */
#loginButton { 
    display:inline-block;  
    position:relative;
    z-index:30;
    cursor:pointer;
}
/* Login Box */
#loginBox {
    position: absolute;
    top: 98%;
    right:18.5%;
    display: none;
    z-index: 99;
}
#loginForm:after {
    content: '';
    position: absolute;
    right: 9%;
    top: -9px;
    border-left: 10px solid rgba(0, 0, 0, 0);
    border-right: 10px solid rgba(0, 0, 0, 0);
    border-bottom: 10px solid #FFFFFF;
}
/* Login Form */
#loginForm {
   width: 120px;
	background: #fff;
	border: 1px solid #d6d6d6;
}
#loginForm fieldset {
    margin:0 0 15px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#body {
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    padding-top:15px;
    margin:0;
}
#loginForm #checkbox {
    width:auto;
    margin:3px 6px 0 0;
    float:left;
    padding:0;
    border:0;
    *margin:-3px 9px 0 0; /* IE7 Fix */
}
#body label {
    color:#87807c;
    margin:10px 0 0 0;
    display:block;
    text-align: left;
    font-size:0.9em;
}
#loginForm #body fieldset label{
    margin:0 0 6px 0;
}
#body label i {
    color: #87807c;
    font-size: 1em;
}
.customheader.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
/* Default Input */
#loginForm input {
    width:100%;
    border:1px solid #DADADA;
	color: #222;
	background:#FFF;
    padding:6px;
	font-size: 0.9em;
    -webkit-apperance:none;
}
/* Sign In Button */
#loginForm #login {
    background: #1AB378;
    color: #fff;
    font-size: 1em;
    padding: 5px 20px;
    border: 1px solid #1AB378;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    font-family: 'Roboto-Regular';
}
#loginForm #login:hover {
	background: #fff;
	color: #1AB378;
}
/* Forgot your password */
#loginForm p {
    font-size: 0.9em;
    margin-bottom: 1.2em;
	color: #999;
}
.customheader.header-right #loginForm a.sign {
    display: inline-block !important;
    color: #1AB378;
    margin-right: 10px;
    border-right: 1px solid;
    padding-right: 10px;
}
.customheader.header-right #loginForm a.sign:hover {
    color: #1AB378;
}
#loginForm span a {
    color: #999;
    display: inherit;
}
#loginForm span a:hover{
	text-decoration:underline;
	color:#1AB378;
}
.customheader.header-right.login:hover #loginBox {
	display:block;
}
/*--//Login --*/

/*--//header--*/


/*--footer--*/
.customheader.footer {
    padding: 5em 0;
	background-color: #f2f6f7;
}
.customheader.footer-grid h4 {
    font-size: 2em;
    text-transform: uppercase;
    color: #1AB378;
    margin-bottom: 1em;
    font-family: 'Marvel-Regular';
}
.customheader.footer-grid ul li {
    list-style: none;
	margin-bottom: 7px;
}
.customheader.footer-grid ul li a:hover {
    color: #1AB378;
}
.customheader.footer-grid ul li a {
    font-size: 1em;
    text-decoration: none;
    line-height: 2em;
    color: #999;
    list-style: none;
    text-transform: capitalize;
}
.customheader.footer-grid ul li a img {
    width: 16px;
    margin-right: 10px;
}
.customheader.footer-bottom {
    background-color: #1AB378;
    padding: 2em 0;
    text-align: center;
}
.customheader.footer-bottom p {
    font-size: 1em;
    color: #fff;
    line-height: 1.8em;
}
.customheader.footer-bottom p a {
    color: #fff;
    margin-left: 6px;
}

/*--//footer--*/



